// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  font-size: 24px;
}
h1 {
  font-size: 44px;
}
.letters {
  height: auto;
  width: 60px;
  background-color: #0D355A;
  color: white;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px #888888;
}

.input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.btn {
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}
